
<!-- finish this select box - default selected item or simple title -->
<div class="row mb20">
	<div class="col-md-3 col-md-offset-6 padLR5">
    	<select class="form-control">
		  <option>sort by</option>
		  <option>date added</option>
		  <option>something</option>
		</select>
	</div>
	<div class="col-md-3 padLR5">
    	<input type="text" class="form-control" placeholder="search..">
	</div>
</div>

<div id="test"></div>


<div class="row" data-ng-repeat="item in reddits">
	<div class="col-md-1">{{$index + 1}}</div>
	<a href="#/redditList/item/{{$index}}"><div class="col-md-3">{{ item.data.title }}</div></a>
	<div class="col-md-2">
		ups: {{item.data.ups}}
	</div>
	<div class="col-md-2">
		downs: {{item.data.downs}}
	</div>
	<!-- <div class="col-md-4">{{ item.data.thumbnail }}</div> -->
	<a class="col-md-4" href="{{ item.data.url }}">
		<img data-ng-if="item.data.thumbnail" data-ng-src="{{ item.data.thumbnail }}" alt="">
		<span data-ng-if="!item.data.thumbnail">jump to reddit</span>
	</a>
</div>